body { 
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
	
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  font-family: Times New Roman;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  top: 20px;
  background-color: #2196F3;
}

#Intro {
  top: 80px;
  background-color: #555;
}

#Resume {
  top: 140px;
  background-color: #2196F3;
}

#Contact {
  top: 200px;
  background-color: #555;
}

ul{
list-style-type: none;
}

ul li{
display: inline-block;
}

header {
width: 100%;
height: 200px;
text-align: center;
}

h1{
font-size: 80px;
color: white;
font-family: Times New Roman;
}

h1:hover{
color: #2196F3;
transition-duration: 1.5s;
}

h2{
font-size: 60px;
color: white;
text-align: center;
font-family: Times New Roman;
}

h2:hover{
color: #2196F3;
transition-duration: 1.5s;
}

p{
font-size: 30px;
color: white;
text-align: center;
font-family: Times New Roman;
text-align: center;
text-align: justify;
text-align-last: center;
margin: 0 auto;
width: 30em;
}

span{
font-weight: bold;
}

span:hover{
color: #2196F3;
transition-duration: 1.5s;
}

img {
border-radius: 12px;
}

.left {
width: 100%;
height: 800px;
text-align: center;
}

.right {
width: 100%;
height: 200px;
text-align: center;
}

.gallery{
width: 100%;
height: 100%;
text-align: center;
float:left;
margin: 0px 0px 50px 0px;
}

table, th, td{
border: 0px solid black;
border-collapse: collapse;
margin: 20px 0px 0px 0px;
}

th{
width: 25%;
padding: 0px 100px 0px 100px;
}

td{
width: 25%;
padding: 0px 100px 0px 100px;
}